#myBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #06c56e;
  color: white;
  cursor: pointer;
  align-items: center;
  align-content: center;
  padding: 8px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
